header {
    height: 10vh;
    width: 100%;
    background: #82d4cc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

header nav {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
    gap: 20px;
    overflow: hidden;
}

header nav ul.show {
    display: flex;
    opacity: 1; 
    transform: translateY(0);
}

header nav ul li {
    margin-right: 12px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 560;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background: #66a9a0;
    color: white;
}

header nav .material-symbols-outlined {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}

@media (max-width: 768px) {
    header nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #82d4cc;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    header nav ul li {
        width: 100%;
        text-align: center;
    }

    header nav ul li a {
        width: 100%;
    }

    header nav .material-symbols-outlined {
        display: block;
    }
}
