<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baloch Scholarships Network</title>
    <link rel="stylesheet" href="../css/About.css">
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>
        <div id="menu">
            <img src="../icons/menu.png" style="height: 90%; width: 90%;">
        </div>
        <div id="close">
            <img src="../icons/close.png" style="height: 90%; width: 90%;">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="../layouts/ContactUs.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="content">
            <p>Baloch Scholarships Network is a non-profitable organisation that provides information and updates about scholarships and admission requirements in universities across the world. Our aim is to provide keen knowledge and help through the students, especially those living in Balochistan, to get admission in any university worldwide with any kind of scholarships.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Baloch Scholarships Network. All rights reserved.</p>
    </footer>
    <script src="../js/Navbar.js"></script>
</body>
</html>
