<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Manage Scholarships</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/header.css">
</head>

<body>
    <header>
        <div id="menu">
            <img src="../icons/menu.png" style="height: 80%; width: 80%;">
        </div>
        <div id="close">
            <img src="../icons/close.png" style="height: 80%; width: 80%;">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Scholarship</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="layouts/Admin.html">Admin Panel</a></li>
            </ul>
        </nav>
    </header>
    <div class="">
        <!-- Form to create or edit a scholarship -->
        <input type="text" id="scholarshipName" placeholder="Name">
        <input type="text" id="scholarshipClass" placeholder="Class">
        <input type="text" id="scholarshipCountry" placeholder="Country">
        <label for="scholarshipStart">Start Date</label>
        <input type="text" id="scholarshipStartDate">
        <label for="scholarshipEndDate">End Date</label>
        <input type="text" id="scholarshipEndDate">
        <textarea id="scholarshipDescription" placeholder="Description"></textarea>
        <input type="text" id="scholarshipLink" placeholder="Enter Link">
        <button id="saveScholarship">Save Scholarship</button>

    </div>
    <!-- List of existing scholarships -->
    <div class="scholarship_cont"></div>
    <script type="module" src="../js/admin.js"></script>
  
</body>

</html>