<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/Contact.css">
    <title>Contact Us</title>
</head>
<body>
    <header>
        <div id="menu">
            <img src="../icons/menu.png" style="height: 80%; width: 80%;">
        </div>
        <div id="close">
            <img src="../icons/close.png" style="height: 80%; width: 80%;">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../layouts/About.html">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="contact-container">
        <h2>Contact Us</h2>
        <p>Email: <a href="mailto:your-email@example.com">your-email@example.com</a></p>
        <p>WhatsApp: <a href="https://wa.me/your-whatsapp-number" target="_blank">+1234567890</a></p>
        <p>Feel free to contact us anytime!</p>
    </div>
    <div class="MoneyEarningSect">
        <h3>
            Streamline your university application process with my expert assistance. Pay this fee, and I’ll take care of everything.
        </h3>
        <p>
            Ready to get started? Reach out to me at 0444444964.
        </p>
    </div>
    <script src="../js/Navbar.js"></script>
</body>
</html>
